body {
  font-family:arial;
  display:flex;
  justify-content:center;
  align-items:center;
  margin:0;
  background-color:#DABDFE;    
  color:#F9F2FF
}

.main {
  text-align:center;
  padding:70px;
  border-radius:6px;
  background:#B186F7;
  box-shadow: 10 10 rgba(0,0,0,0.4);
}

input{
  margin-right:15px;
  margin-bottom:15px;
  margin-left:0;
  margin-right:0;
}

button {
  cursor:pointer;
}

#names {
  margin-top:20px;
}